{% load static %}


<!-- Topbar Start -->
<div class="container-fluid bg-dark text-light px-0 py-2">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center me-4">
                <span class="fa fa-phone-alt me-2"></span>
                <span>+91 7306570796</span>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <span class="far fa-envelope me-2"></span>
                <span>info@wipekochi.com</span>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center mx-n2">
                <span>Follow Us:</span>
                <a class="btn btn-link text-light" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-link text-light" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-link text-light" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-link text-light" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <img class="img-fluid m-2"  src="{% static 'img/wipe12.png' %}" alt="Icon" width="250px">

    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            {% if user.is_authenticated %}
                {% if user.is_superuser != True %}
                    <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                        <div class="dropdown-menu bg-light m-0">
                            <a href="{% url 'cleaning' %}" class="dropdown-item">Cleaning</a>
                            <a href="{% url 'scrap' %}" class="dropdown-item">Sell Scrap</a>
                        </div>
                    </div>
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                    <a href="{% url 'logout' %}" class="nav-item nav-link ">Logout<img class="img-fluid" src="{% static 'img/logout.png' %}" alt="Icon" width="20px"></a>

                {%else%}
                    <a href="{% url 'admin_home' %}" class="nav-item nav-link active">Home</a>

                    <a href="{% url 'logout' %}" class="nav-item nav-link ">Logout<img class="img-fluid" src="{% static 'img/logout.png' %}" alt="Icon" width="20px"></a>
                {%endif%}
            {% else %}
            <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
            <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
            <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
            <a href="{% url 'login' %}" class="nav-item nav-link "><img class="img-fluid" src="{% static 'img/login.png' %}" alt="Icon" width="26px"></a>

            {%endif%}
        </div>
    </div>
</nav>
<!-- Navbar End -->