{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">

      <div style="width: 500px;height: 300px;border-radius: 0.5rem;
          box-shadow: 0  0px 15px 2px #A5DD9B;margin: 50px;" class="p-5 mx-auto">
      
        <form method="post">
            {% csrf_token%}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"><b>New Password</b> </label>
              <input type="password" name="new_password" class="form-control w-100"  >
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"><b>Reconfirm Password</b></label>
              <input type="password" name="confirm_password" class="form-control w-100"  >
            </div>

            <div  class="form-text">
              {% for message in messages %}
                  <h5 class="{{ message.tags }}" style="margin-top: 10px;">{{ message }}</h5>
              {% endfor %}
            </div>

            <input type="hidden" name="user_id" value="{{user_id}}">

            <button type="submit" class="btn btn-success">Submit</button>
          </form>
      </div>
    </div>

</div>

{% endblock content %}