{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
      <div style="width: 500px;height: 210px;border-radius: 0.5rem;
          box-shadow: 0  0px 15px 2px #A5DD9B;margin: 50px;" class="p-5 mx-auto">
          <form method="post">
            {% csrf_token%}
            <div class="mb-3" >
              <label for="exampleInputEmail1" class="form-label"><b>Enter your Username</b></label>
              <input type="text" name="username" class="form-control w-100" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div  class="form-text">
                {% for message in messages %}
                    <h5 class="{{ message.tags }}" style="margin-left: 195px;margin-top: 10px;">{{ message }}</h5>
                {% endfor %}
              </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
      </div>
    </div>

</div>

{% endblock content %}